{% set global_index = [] %}


{% macro printheader(key, val, value, level) %}
{% if not (key == "__reclass__" and hidereclass == True) %}
<div class="wrapper" style="padding-left: {% if level > 0 %}40px{% else %}0px{% endif %}">
  <div class="card">
    <div class="card-header">
        <a data-toggle="collapse" href="#collapse{{ global_index|length }}">{{ key }}: {{ val }}</a>
        {% if key is string %}
          {% if key.endswith(".de") and not key.startswith("sites.")%}
            <a href="/inventory.json/{{ key }}">-></a>
          {% endif %}
        {% endif %}
    </div>
    <div id="collapse{{ global_index|length }}" class="panel-collapse collapse">
      {% if not value is string %}{{ printdict(value, level+1) }}{% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro printmappedsequenceitems(item, level) %}
<ul class="list-group">
    <li class="list-group-item">{{ printdict(item, level) }}</li>
</ul>
{% endmacro %}

{% macro printmappeditem(key, val, level) %}
  <ul class="list-group">
    <div class="wrapper" style="padding-left: {% if level > 0 %}40px{% else %}0px{% endif %}">
      <li class="list-group-item">{{ key }}: {{ val }}</li>
    </div>
  </ul>
{% endmacro %}

{% macro printitem(item, level) %}
<ul class="list-group">
  <div class="wrapper" style="padding-left: {% if level > 0 %}40px{% else %}0px{% endif %}">
    <li class="list-group-item">-
      {% if item is string and item.endswith(".de") and not item.startswith("sites.")%}
      <a href="/inventory.json/{{ item }}">{{ item }}</a>
      {% else %}
      {{ item }}
      {% endif %}
    </li>
  </div>
</ul>
{% endmacro %}

<!--Main Macro-->
{% macro printdict(dataelement, level) %}
  {% if dataelement is mapping and dataelement is sequence%}
    {% for key,value in dataelement.items() %}
      {% if value is mapping or value is sequence and not value is string %}
        {% set val = value|length %}
        {% if global_index.append('1') %}{% endif %}
        {{ printheader(key, val, value, level) }}
      {% else %}
        {% set val = value %}
        {{ printmappeditem(key, val, level) }}
      {% endif %}
    {% endfor %}
  {% elif dataelement is sequence %}
    {% for item in dataelement %}
      {% if item is mapping %}
        {{ printmappedsequenceitems(item, level) }}
      {% else %}
        {{ printitem(item, level) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
