<!doctype html>
<html>
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Yaml Output</title>
    <script>
    function hideElements(divid) {
      var elements = document.getElementById(divid).childNodes;
      for(var i=0; i<elements.length; i++) {
        if (elements[i].tagName == "DIV") {
          if (elements[i].style.display === "block") {
            elements[i].style.display = "none";
          } else {
            elements[i].style.display = "block";
          }
        }
      }
      var btn = document.getElementById("btn_" + divid);
        if(btn.innerHTML === "+") {
          btn.innerHTML = "-";
        } else {
          btn.innerHTML = "+";
        }
    }
    </script>
  </head>

  <body>
    <div id="content">
      {% macro printdict(dataelement, level) %}
        {% if dataelement is mapping %}
          {% for key,value in dataelement.items() %}
            {% if value is mapping or value is sequence and not value is string %}
              {% set val = value|length %}
            {% else %}
              {% set val = value %}
            {% endif %}
            {% if global_index.append('1') %}{% endif %}
            <div class="div_level_{{ level }}", id="{{ global_index|length }}_{{ key }}", {% if level > 0%}style="display: none"{% endif %}>
              {% if (value is mapping or value is sequence) and not value is string %}
                {% if value is sequence %}
                  <button class="btn_level_{{ level }}", id="btn_{{ global_index|length }}_{{ key }}", onclick="hideElements('{{ global_index|length }}_{{ key }}')">+</button>
                {% endif %}
              {% endif %}
              <span>
                {{ key }}: {{ val }}
              </span>
              {% if not value is string %}{{ printdict(value, level+1) }}{% endif %}
            </div>
          {% endfor %}
        {% elif dataelement is sequence %}
          {% for item in dataelement %}
            {% if item is mapping %}
              {{ printdict(item, level+1) }}
            {% else %}
              <div class="item", style="display: none"><span>- {{item}}</span></div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endmacro %}


      {% set global_index = [] %}
      {{ printdict(data, 0) }}

    </div>
  </body>
</html>
