<!doctype html>
<html>
  <head>
<!--BOOTSTRAP 3
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
-->

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_new.css') }}">

<!--Bootsrap scripts-->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
-->
    <script src="{{ url_for('static',filename='scripts/jquery-3.2.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/bootstrap.min.js') }}"></script>

<!--Editabl Select Scripts-->
    <!--<script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
-->
    <script src="{{ url_for('static',filename='scripts/jquery-editable-select.min.js') }}"></script>

    <script>

      $(function(){
        $('#filelist').editableSelect();
        $("#btn_reload").click(function(){
            $.get("/files")
            location.reload(true);
          });
        $("#btn_loadfile").click(function(){
          var url = $('#filelist').val();
          document.location.href = "/inventory.json/" + url;
        });
        $("#btn_home").click(function(){
          var url = $('#filelist').val();
          document.location.href = "/inventory.json";
        });
      });

    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ heading }}</title>
  </head>

  <body>

<!--Page start-->
    <div class="row sticky-top" style="background-color: #c6dcff">
      <div class="col-sm-2 d-flex p-2 justify-content-center">
        <button id=btn_home type="button" class="btn btn-primary m-1">Home</button>
        <button id=btn_reload type="button" class="btn btn-primary m-1">Reload</button>
      </div>
      <div class="col-sm-4 d-flex p-2 justify-content-startalign-items-center"><h3>{{ heading }}</h3></div>
      <div class="col-sm-4 d-flex p-2 justify-content-end">
        <select id="filelist" class="custom-select-md">
          {% for f in filenames %}
            <option>{{ f }}</option>
          {% endfor %}
        </select>
        <button id=btn_loadfile type="button" class="btn btn-primary">Load</button>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row mt-sm-3">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="container">
          <div class="panel-group">

            {% import "macros.html.j2" as macros %}
            {{ macros.printdict(data, level=0) }}

          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </body>
</html>
