#content {
  padding-left: 0px
}
#content div {
  padding-left: 50px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  display: none
}
#content .div_level_0 {
  padding-left: 0px;
  display: block
}
